# C++/CMake build files
/build/
**/build/
**/bin/
/out/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.vcxproj*
*.user
*.log
*.pyc
*.pdb
*.ilk
*.idb
*.class
*.DS_Store
*.ini
.vs/

# Gradle
.gradle/

metal-cpp/